<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
  <title>Hypermedia Factory</title>
  <link rel="stylesheet" type="text/css" href="static/style.css" />
  <link rel="stylesheet" type="text/css" href="static/joint.css" />
  <link rel="stylesheet" type="text/css" href="static/jquery-ui-theme-humanity.css" />
  <link rel="icon" href="static/img/favicon.png" type="image/x-icon">
</head>
<body>

  <!-- Navigation Bar -->
  <div id="navigationBar"></div>


  <!-- Graph -->
  <div id="paper"></div>

  <!-- Side Panel -->
  <div id="sidePanel"></div>

  <!-- Term Description -->
  <div id="termDesc"></div>


  <!-- Forms to edit resources / links -->
  <div id="editResource" class="editGraphElement"></div>
  <div id="editLink" class="editGraphElement"></div>

  <!-- Navigation Bar Template -->
  <script type="text/template" id="navigationBar-template">
    <!-- <img alt="Hypermedia Factory" title="Hypermedia Factory Logo" src="static/img/hm-logo-small.png" width="130" height="37"/> -->
    <nav>
      <button class="navItem opensSidePanel" id="aboutBtn">About</button>
      <button class="navItem" id="openBtn">Open</button>
      <button class="navItem" id="saveBtn">Save</button>
      <button class="navItem opensSidePanel" id="downloadBtn">Download Profiles</button>
      <!-- <button class="navItem opensSidePanel" id="optionsBtn">Options</button> -->
      <button class="navItem opensSidePanel" id="helpBtn">Help</button>
    </nav>
  </script>


  <!-- Side Panel Template -->
  <script type="text/template" id="sidePanel-template">
    <div id="sidePanelCloseBtn">X</div>
    <div id="sidePanelContent"></div>
  </script>

  <!-- Welcome Template -->
  <script type="text/template" id="welcome-template">
    <h1>Welcome</h1>
    <br>This web site is a work in progress! Some welcome text. This is a
    <a href="#" title="go somewhere">link</a>. Some more welcome text.
    <a href="#" title="go somewhere">Another</a> link.
  </script>

  <!-- About Template -->
  <script type="text/template" id="about-template">
    <h1>About</h1>
    <p>
      This project is part of my bachelor's thesis at the
      <a href="http://www.snet.tu-berlin.de/" target="_blank" title="Service-centric Networking">SNET</a>
      research group at
      <a href="http://www.tu-berlin.de/" target="_blank" title="Technische Universität Berlin">TU Berlin</a>.
    </p>
    <p>
      [Some words about REST and hypermedia....]
    </p>
    <p>
      --> <a href="https://github.com/nycuma/hypermedia-factory" target="_blank">GitHub repository</a>
    </p>
    <p>
      <strong>Credits:</strong>
      <br>Logo designed by: Franziska Nebel
      <br>Font 'Greyscale' from: <a href="https://www.fontsquirrel.com/fonts/Greyscale-Basic?filter[license][0]=web" target="_blank">FontSquirrel</a>
      <br>Framework library: <a href="http://backbonejs.org/" target="_blank">Backbone.js</a>
      <br>Graph library: <a href="https://www.jointjs.com/opensource" target="_blank">Joint.js</a>
      <br>Zip Export library: <a href="https://stuk.github.io/jszip/" target="_blank">JSZip</a>
      <br>File Export library: <a href="https://github.com/eligrey/FileSaver.js" target="_blank">FileSaver.js</a>
    </p>
  </script>


  <!-- Download Profiles Template -->
  <script type="text/template" id="download-template">
    <h1>Download profiles</h1>
    <p>
      [text text text ... ]
    </p>
    <form>
      <table>
        <tr>
          <td><input type="radio" name="profileFormat" id="jsonld"></td>
          <td><label for="jsonld">JSON-LD with Hydra</label></td>
        </tr>
        <tr>
          <td><input type="radio" name="profileFormat" id="alps"></td>
          <td><label for="alps">ALPS</label></td>
        </tr>
      </table>
      <button class="btn submitBtn" type="submit">Download</button>
    </form>
  </script>

  <!-- Options Template -->
  <script type="text/template" id="options-template">
    <h1>Options</h1>
    <p>
      [options...]
    </p>
  </script>

  <!-- Help Template -->
  <script type="text/template" id="help-template">
    <h1>Help</h1>
    <h2>Quick Instructions</h2>
    <div id="instructions"></div>
  </script>


  <!-- Autocomplete Input Field Template -->
  <script type="text/template" id="autocomplete-input-template">

    <tr>
      <td><%= label %></td>
      <td class="autocompleteInputField" id="<%= idAC %>InputField"></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="checkbox" name="customTermCheck" id="<%= idAC %>CheckCustomTerm"/><span class="textCustomTerm">This is a custom term</span>
        </td>
    </tr>
    <tr class="customTerm">
        <td></td>
        <td>
            <span class="textCustomTerm">Please provide a description:</span>
            <br><input type="text" name="customTermDescr" id="<%= idAC %>CustomTermDescr"/>
        </td>
    </tr>
  </script>


  <!-- Edit Resource Template -->
  <script type="text/template" id="edit-resource-template">
    <form>
      <table id="editResourceAttributes">
        <tbody id="resourceNameInputWrapper">
        </tbody>
        <tbody id="resourceAttrInputWrapper">
        </tbody>
      </table>
      <button class="btn cancelBtn">Cancel</button>
      <button class="btn submitBtn">Save</button>
      <button class="btn addFieldBtn" title="Add attribute">+</button>
    </form>
  </script>

  <!-- Edit Link Template -->
  <script type="text/template" id="edit-link-template">
      <form>
      <table>
        <tr>
          <td><input type="checkbox" name="collItemLinkCheckBox"/></td>
          <td>This link connects a collection to an item.</td>
        </tr>
      </table>
        <br>
      <table>
        <tbody id="relationInputWrapper">
          <!-- autocomplete input field -->
        </tbody>
      </table>

      <hr>
        <strong>Operations</strong>
        <div id="operationFieldSetsWrapper">
          <!-- operation template -->
        </div>
      <button class="btn cancelBtn">Cancel</button>
      <button class="btn submitBtn">Save</button>
      <button class="btn addFieldBtn" title="Add state transition">+</button>
    </form>
  </script>

<!-- Operation Template -->
  <script type="text/template" id="operation-template">
    <hr>
    <div id="operationFieldSet<%= idSet %>">
      <table>

        <tbody>
        <tr>
          <td><label for="methodDropdown<%= idSet %>">Method:</label></td>
          <td>
            <select name="methodDropdown" id="methodDropdown<%= idSet %>">
              <option value=""></option>
              <option value="RETRIEVE">retrieve (safe)</option>
              <option value="CREATE">create (not idemportent)</option>
              <option value="REPLACE">replace (idempotent)</option>
              <option value="DELETE">delete (idempotent)</option>
            </select>
          </td>
        </tr>
        </tbody>

        <tbody class="operationInputWrapper">
          <!-- autocomplete input field -->
        </tbody>

      </table>
    </div>

  </script>


  <!-- Node Template -->
  <script type="text/template" id="node-template">
    <div class="html-element">
      <button class="newLink">
      </button>
      <button class="delete">x</button>
      <div class="collectionLabel">&#8729; Collection &#8729;</div>
      <label></label>
    </div>
  </script>


  <!-- Webpack Bundle -->
  <script type="text/javascript" src="static/bundle.js"></script>
</body>
</html>
